<%- include("partials/header") -%>

<body>
    <!-- add bus name to detect the correct bus -->
    <h3>Sending location of <%= foundBus.route %></h3>
    <button id="button" onclick="getLocation()" value="<%= foundBus.busNo %>" >Sending bus location.</button>
    <p id="locationDetails"></p>
    <form name="seatDetails">
        <label for="seatsFilled">Filled Seats</label>
        <input type="number" name="seatsFilled" value="<%= foundBus.seatsFilled %>" placeholder="<%= foundBus.seatsFilled %>">
        <label for="totalSeats">Total Seats</label>
        <input type="number" name="totalSeats" value="<%= foundBus.totalSeats %>" placeholder="<%= foundBus.totalSeats %>">
    </form>
    <p id="seatsInfo"></p>
    <script>
        let x = document.getElementById("locationDetails");
        let y = document.getElementById("seatsInfo");
        const busNo = document.getElementById("button").value;
        //const busNo = <%= foundBus.busNo %>;
        let interval = 4500; // 4.5 seconds
    
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
                setInterval(updateLocation, interval);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
    
        function showPosition(position) {
            let latitude = position.coords.latitude;
            let longitude = position.coords.longitude;
            
            // Access seatsFilled and totalSeats values from the form inputs
            let seatsFilled = document.forms["seatDetails"]["seatsFilled"].value;
            let totalSeats = document.forms["seatDetails"]["totalSeats"].value;

            x.innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude + "<br>Bus number: " + busNo;
            y.innerHTML = "seatsFilled: " + seatsFilled + "<br>totalSeats: " + totalSeats + "<br>Bus number: " + busNo;

            sendSeatsAndCoordinates(latitude, longitude, seatsFilled, totalSeats);
        }
    
        function updateLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(updatePosition, handleLocationError);
            }
        }
    
        function updatePosition(position) {
            let latitude = position.coords.latitude;
            let longitude = position.coords.longitude;

            // Access seatsFilled and totalSeats values from the form inputs
            let seatsFilled = document.forms["seatDetails"]["seatsFilled"].value;
            let totalSeats = document.forms["seatDetails"]["totalSeats"].value;
    
            x.innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude + "<br>Bus number: " + busNo;
            sendSeatsAndCoordinates(latitude, longitude, seatsFilled, totalSeats);
        }
    
        function handleLocationError(error) {
            console.log("Error getting current location: " + error.message);
        }
    
        function sendSeatsAndCoordinates(latitude, longitude, seatsFilled, totalSeats) {
            let xhr = new XMLHttpRequest();
            /*const busNo = document.getElementById("button").value;  */
            xhr.open("POST", "/trackbus", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("Coordinates sent successfully!");
              }
            };
            let data = JSON.stringify({ latitude: latitude, longitude: longitude, busNo: busNo, seatsFilled: seatsFilled, totalSeats: totalSeats });
            xhr.send(data);
          }
          
    </script>
    
    

<%- include("partials/footer") -%>
